.hr {
  position: relative;
  background: rgba(0, 0, 0, .25);
  width: 100%;
  top: -120px;
  z-index: 5;
}

.profile-image {
  background: #fff;
  padding: 5px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 30px;
  border: 1px solid rgba(0, 0, 0, .25);
  z-index: 6;
}

.name {
  color: #2c2e31;
  font-size: 38px;
  margin: 5px;
}

.profile-info {
  color: #2c2e31;
  font-size: 20px;
  margin: 5px;
}

.admin {
  position: relative;
  margin: -157px 0 100px 270px;
  z-index: 6;
}
