/* You can add global styles to this file, and also import other style files */
html, body {
	width: 100%;
	height:100%;
	margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  border-radius: 3px;
  font-family: "Avenir Roman", Avenir, Arial, sans-serif;
}

.mat-list {
  font-family: "Avenir Roman", Avenir, Arial, sans-serif;
}

.user-role {
  font-size: 85%;
  font-style: italic;
}

.dark-primary-color    { background: #FE5607; }
.default-primary-color { background: #3F51B5; }
.light-primary-color   { background: #C5CAE9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF5722; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
