<md-list *ngIf="users$ | async as users" class="card">
	<div class="name">Users</div>
	<!--<md-input-container>-->
		<!--<input mdInput placeholder="Search" ngModel name="query" #query="ngModel">-->
	<!--</md-input-container>-->
	<div *ngFor="let user of users">
		<md-list-item (click)="onSelect(user)">
			<img class="profile-image" src="/api/images/medium/{{user.username}}.png">
			{{user.full_name}}
      <!-- UNCOMMENT the line below to display (Administrator) for admin users. -->
      <!--<span class="user-role secondary-text-color" *ngIf="user.isAdmin">&nbsp;(Administrator)</span>-->
		</md-list-item>
		<md-divider></md-divider>
	</div>
</md-list>
