<md-sidenav-container class="sidenav-container">
	<md-sidenav #sidenav mode="side" opened="true">
		<button color="primary" md-raised-button [routerLink]="['/profile']">My Profile</button>
    <div *ngIf="me$ | async as me" style="display:flex;">
      <button color="primary" style="width:100%" md-raised-button [routerLink]="['/admin']" *ngIf="isAdmin(me)" [routerLink]="['/admin']">
        Users
      </button>
    </div>
	</md-sidenav>
	<router-outlet></router-outlet>
</md-sidenav-container>
